<!--templates/index.html-->
<!--contains all asteroids data-->
<!doctype html>
{% extends "base.html" %}

{% block title %}Upload{% endblock %}

	{% block mainblock %}
		<!--Errors container-->
		{% if args and 'responseMessage' in args %}
			<div class="main-data-block response-message-color info-strong">{{ args.responseMessage }}</div>
		{% endif %}
		<div class="main-info-instructions">
			<p>Instructions:</p>
			<hr/>
			<p>File size must not exceed 1024 * 1024 * 1024 size (set to be able to upload almost all files) otherwise the system will display Gray Blue Screen of Death (GBSOD) ;) </p>
			<p class="info-strong">(Can be changed in app.py - change app.config['MAX_CONTENT_LENGTH'] to change the limit for the uploading files)</p>
			<p>Please populate File name with the expected file name without extension</p>
			<p>If File name field will be left blank then the system will use existent file name</p>
			<p class="info-strong">Example 1: </p>
			<p>you have uploaded file named "test.jpg", but you have populated File name: text field with name test_upload (note: no extension) - resulting file will have name: "test_upload.jpg"</p>
			<p class="info-strong">Example 2:  </p>
			<p> you have uploaded file named "test_initial_name.jpg", but you have left the File name: text field empty - resulting file will have name: "test_initial_name.jpg"</p>
			<p>You may return to the <a href="/">main page</a>, if you so wish</p>
		</div>
		
	{% endblock %}
